<div class="card">
<div class="card-body">

<div class="container">
<div class="row">
<div class="col-4 col-md-3 vr ">
  <img src="../../assets//images/avatar2.png" alt="Avatar" class="avatar"><br/>
<p class = '' style = 'font-size : 16px '> Sandeep <br/> Tiwari </p>

<p class = 'para '>Graduate CS <br/>Student at UTA </p>
</div>
<div class="col-8  col-md-9 ">
  <p class = 'para'><i class="fa fa-university" aria-hidden="true"></i> &nbsp; Texas Christian University </p>
  <p class = 'para'><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; (862) 222-6690</p>
  <p class = 'para'><i class="fa fa-map-marker" aria-hidden="true"></i>    &nbsp; TCU Graduate with the great tutoring abilities</p>

  <div class="text-center mt-5"> 
    <button class = 'btn'> Book Me Now </button>
  </div>
</div>
</div>
</div>
</div>
</div>

<ul class="list-group">
  <li class="list-group-item">First item</li>
  <li class="list-group-item">Second item</li>
  <li class="list-group-item">Third item</li>
</ul>