<div class="card">
<div class="card-body">

<div class="container">
<div class="row">
<div class="col-4 col-md-3 vr ">
  <img src="../../assets//images/avatar2.jpg" alt="Avatar" class="avatar"><br/>
<p class = '' style = 'font-size : 16px '> Sandeep <br/> Tiwari </p>

<p class = 'para '>Graduate CS <br/>Student at UTA </p>
</div>
<div class="col-8  col-md-9 ">
  <p class = 'para'><i class="fa fa-university" aria-hidden="true"></i> &nbsp; Texas Christian University </p>
  <p class = 'para'><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; (862) 222-6690</p>
  <p class = 'para'><i class="fa fa-map-marker" aria-hidden="true"></i>    &nbsp; TCU Graduate with the great tutoring abilities</p>

  <div class="text-center mt-5"> 
    <button class = 'button'> Book Me Now </button>
  </div>
</div>
</div>
</div>
</div>
</div>

<ul class="list-group">
  <li class="list-group-item" *ngFor = ' let p of text'>
    <div class="row">
      <div class="col-4 col-md-4">
        <img [src]="p.image" alt="..." class="img-thumbnail">

      </div>
      <div class="col-8 col-md-8">
       <p> {{p.heading}}  </p>
       <p class = 'para'> {{p.desc}}</p>
        <a href = '#'> Read More </a>
      </div>
    </div>
  </li>

</ul>