
.heading{
  font-family: 'Avenir-Roman';
  font-size: 15px ; 
}

mat-panel-title {
  font-family: 'Avenir-Heavy';
  font-size: 15px ;
}

.header {
  font-family: 'Avenir-Heavy';
  font-size: 15px ;
}

