.example-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
    align-items: center;
  justify-content: center;
  margin : -1px ; 
}

.navText {
  padding: 4px;
  margin-top: -8px;
  margin-left: 13px;
  color : white ; 
  padding: 4px;
}

.example-sidenav {
  padding: 10px;
  width : 18% ; 
      background : #083349 ; 
}

.bg-light {
  background : #083349  !important; 
}

.active-link {
  color : white ;
  background-color : #979797

}
a {
  color : #92A7B2 ; 
  font-family : 'Avenir-Medium' ; 
  font-size : 17px ; 
  text-decoration : none ; 
}

.fa {
  color : #92A7B2  ; 
}

.navbar {
padding : 20px ; 
}
.sideBar {
  padding : 2px ; 
}
@media (max-width: 400px) { 
  .example-sidenav {
    padding: 30px;
    width: 50%;
    background : #083349 ; 
  }

  
}