.example-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.gift {
  color : #23A4EF ; 
  font-family: 'Avenir-Heavy';
  top: 8px;
  position: relative;

}
.giftImage{
  position: relative;
  top: -4px ;
}
[data-letters]:before {
  content:attr(data-letters);
  display:inline-block;
  font-size:1em;
  width:2.5em;
  height:2.5em;
  line-height:2.5em;
  text-align:center;
  border-radius:50%;
  background:#2F5265;
  vertical-align:middle;
  color:white;
  }

.fa-envelope-o {
  font-size: 31px;
    position: relative;
   
    left: 54px;
    top: 4px;
}
.button {
width : 159px ;
height: 43px ;
background-color: #2F5265;
margin-left: 35px;
}
.buttonSchedule{
  width : 159px ;
height: 43px ;
color : white;
background-color: #20A4EF;
margin-left: 30px;
}

.example-sidenav-content {
  display: flex;
    align-items: center;
  justify-content: center;
  margin : -1px ; 
}

.navText {

margin-left: 23px;
  margin-top: -8px;
  
  color : white ; 
  font-size: 23px;
  font-family: Avenir-Medium;
}

.example-sidenav {
  padding: 10px;
  width : 18% ; 
      background : #083349 ; 
}

.bg-light {
  background : #083349  !important; 
}

.active-link {
  color : white ;
  background-color : #979797

}
a {
  color : #92A7B2 ; 
  font-family : 'Avenir-Medium' ; 
  font-size : 17px ; 
  text-decoration : none ; 
}

.fa {
  color : #92A7B2  ; 
}

.navbar {
}
.sideBar {
  padding : 2px ; 
}
.letter{
  position: relative;
  left: 85px;

}
@media (max-width: 800px) { 
  .example-sidenav {
    padding:  10px;
    width: 69%;
    background : #083349 ; 
  }

  .button {
    display: none ; 
  }
  .gift {
    display : none ; 
  }
 
}