<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">

                <div class="calendar-wrapper">
                    <mat-calendar #calendar [(selected)]="selectedDate" (monthSelected)="monthSelected($event)" (selectedChange)="onDateChanged($event)"></mat-calendar>
                </div>
        
     <div class = 'mt-3'>           
   <span class = 'booked'>  <span class = 'status'>Booked  </span></span> <br/>
   <span  class = 'available'>   <span class = 'status'> Available </span> </span ><br/>
   <span  class = 'unavailable'>  <span class = 'status'> UnAvailable </span></span> 
      </div>
    
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi debitis iusto iure quos amet suscipit error deleniti. Modi ab, voluptas neque nihil illum quam, impedit, non repellendus id tempore ut.</p>
    
    </div>
   
  </div>
</div>




