
<div (window:resize)="onResize($event)">
  
  <div *ngIf = '!this.isMobile'>
  <div class="has-search">
    <div class="row">
      <div class="col-md-8" style = 'background : white '>
          <span class="fa fa-search form-control-feedback"></span>
          <input type="text" class="form-control" placeholder="Search">
      </div>
      <div class="col-md-4" style = 'background : white '>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

      </div>
    </div>

  </div>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  
  <ng-container matColumnDef="Tutor">
    <th mat-header-cell *matHeaderCellDef> Tutor </th>
    <td mat-cell *matCellDef="let element"><span style = 'color : #25A5EF'>{{element.Tutor}}</span>  </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Schedule">
    <th mat-header-cell *matHeaderCellDef> Schedule </th>
    <td mat-cell *matCellDef="let element"> <span style = 'color : #25A5EF'>{{element.Schedule}} </span> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Hours">
    <th mat-header-cell *matHeaderCellDef> Hours </th>
    <td mat-cell *matCellDef="let element"> {{element.Hours}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="Type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element"> {{element.Type}} </td>
  </ng-container>
  <ng-container matColumnDef="Cancelled">
    <th mat-header-cell *matHeaderCellDef> Cancelled </th>
    <td mat-cell *matCellDef="let element"> {{element.Cancelled}} </td>
  </ng-container>
  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element"> <i class="fa fa-play-circle" style = 'color : #25A5EF' (click) = 'playRecording()' aria-hidden="true"></i> <span style = 'color : #25A5EF'> &nbsp; See Recording </span>   </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
</div>

<div *ngIf = 'this.isMobile'>
    <div class="has-search">
        <div class="row">
          <div class="col-md-12" style = 'background : white '>
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search">
          </div>
          <div class="col-md-12" style = 'background : white '>
              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
    
          </div>
        </div>
    
      </div>
      <mat-list role="list" style = 'background : #979797 '>
          <mat-list-item role="listitem" >
             <div class="row" style = 'width: 100%;'>
                <div class="col-6">
                    <span class = 'heading'>TUTOR</span> 
                    <p>tutor2</p>
                    <span class = 'heading'>HOURS</span> 
                    <p>2.0</p>
                    <span class = 'heading'>Cancelled</span> 
                    <p>2.0</p>
                  </div>
                  <div class="col-6">
                      <span class = 'heading'>SCHEDULE</span> 
                      <p>tutor2</p>
                      <span class = 'heading'>TYPE</span> 
                      <p>tutor2</p>
                      <p>No link to online session </p> 

                </div>
             </div> 
             <mat-divider> </mat-divider>

          </mat-list-item>
         
        </mat-list>
        <mat-list role="list" style = 'background : white'>
            <mat-list-item role="listitem">
               <div class="row" style = 'width: 100%;'>
                  <div class="col-6">
                      <span class = 'heading'>TUTOR</span> 
                      <p>tutor2</p>
                      <span class = 'heading'>HOURS</span> 
                      <p>2.0</p>
                      <span class = 'heading'>Cancelled</span> 
                      <p>2.0</p>
                    </div>
                    <div class="col-6">
                        <span class = 'heading'>SCHEDULE</span> 
                        <p>tutor2</p>
                        <span class = 'heading'>TYPE</span> 
                        <p>tutor2</p>
                        <p>No link to online session </p> 
  
                  </div>
               </div> 
             
            </mat-list-item>
            <mat-divider>            </mat-divider>

          </mat-list>
          <mat-list role="list">
              <mat-list-item role="listitem">
                 <div class="row" style = 'width: 100%;'>
                    <div class="col-6">
                        <span class = 'heading'>TUTOR</span> 
                        <p>tutor2</p>
                        <span class = 'heading'>HOURS</span> 
                        <p>2.0</p>
                        <span class = 'heading'>Cancelled</span> 
                        <p>2.0</p>
                      </div>
                      <div class="col-6">
                          <span class = 'heading'>SCHEDULE</span> 
                          <p>tutor2</p>
                          <span class = 'heading'>TYPE</span> 
                          <p>tutor2</p>
                          <p>No link to online session </p> 
    
                    </div>
                 </div> 
               
              </mat-list-item>
              <mat-divider></mat-divider>

            </mat-list>
    </div>


</div>