h2 {
  font-family: 'Avenir-Heavy'; 
}
.para {
  font-family: 'Avenir-Roman'; 
  font-size : 15px ;  
}

.heading {
  font-family: 'Avenir-Heavy'; 

}
.col-md-4{
  padding: 0px;
}
.src{
  max-width : 100% ; 
  max-height: 100% ;

}
